
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body {
  margin: 0;
  font-family: 'Henny Penny', cursive;
  text-align: center;
   background: #1b1524 ;
   color :  #fff ;
   font-size: 1.5em  ;

}

